@import '@styles/variables';

.wrapper {
  width: 100%;
  max-width: 100vw;
  padding: $spacing-4;
  padding-top: 0;
  padding-left: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  gap: $spacing-6;
}

.main {
  width: 100%;
  max-width: 70vw;
}

.header {
  display: flex;
  align-items: center;
  gap: $spacing-1;
  margin-bottom: $spacing-2;
}

.publishButton {
  margin-left: auto;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: rem(8px);
  padding: $spacing-1 $spacing-2;
  cursor: pointer;
  margin-top: $spacing-1;
}

.loader {
  height: 1px;
}
