@import '@styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.tabContent {
  padding: $spacing-1 0;
}

.feedList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}
