@import '@styles/variables';

.card {
  padding: $spacing-4;
  border-radius: rem(12px);
  box-shadow: var(--shadow-md);
  background-color: var(--background-card);
  color: var(--text-primary);
  margin-bottom: $spacing-4;
  width: 100%;
  transition: box-shadow $transition-duration-fast $transition-timing-function,
    transform $transition-duration-fast $transition-timing-function;
}

.card:hover {
  box-shadow: $box-shadow-md;
  transform: translateY(-2px);
}

.title {
  margin: 0 0 $spacing-1 0;
  font-size: $h6-font-size;
}

.actions {
  margin-top: $spacing-2;
  display: flex;
  gap: $spacing-2;
}

.primaryButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: rem(8px);
  padding: $spacing-1x5 $spacing-3;
  cursor: pointer;
}

.secondaryButton {
  background-color: var(--background-card);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  border-radius: rem(8px);
  padding: $spacing-1x5 $spacing-3;
  cursor: pointer;
}
