@import '@styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  background-color: var(--background-card);
  border-radius: rem(12px);
  padding: $spacing-2;
  box-shadow: $box-shadow-sm;
}

.metric {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.metricNumber {
  font-size: $h4-font-size;
  color: var(--text-primary);
}

.metricLabel {
  font-size: $small-font-size;
  color: var(--text-secondary);
}
