@import '@styles/variables';

.icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  min-width: 24px;
  color: var(--text-primary);
  width: 24px;
  height: 24px;
}

.label {
  opacity: 0;
  transition: opacity $transition-speed ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: max-content;
  flex-grow: 0;

  .sidebar:hover & {
    opacity: 1;
    transform: translateX(0);
  }

  .themeButton:hover &,
  .logoutButton:hover & {
    transform: translateX(0);
    opacity: 1;
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0.8rem 1rem 1.2rem;
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.3s $transition-timing-function;

  .icon {
    margin-right: 1rem;
  }

  &:hover {
    color: var(--color-error);
  }
}

.themeButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.3s $transition-timing-function;

  .icon {
    margin-right: 1rem;
  }

  &:hover {
    color: var(--primary-color);

    .icon {
      transform: rotate(-15deg);
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: $collapsed-width;
  background: var(--background-card);
  border-right: 1px solid var(--border-color);
  transition: width $transition-speed ease;
  overflow: hidden;
  z-index: 1000;

  &:hover {
    width: $expanded-width;
  }

  @media (max-width: $breakpoint-tablet) {
    width: $collapsed-width;
    bottom: 0;
    height: auto;
    top: auto;

    &:hover {
      width: $collapsed-width;
    }
  }
}

.navItems {
  padding: 1rem 0;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--text-secondary);
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s $transition-timing-function;

  &:hover {
    color: var(--text-primary);
  }

  &.active {
    color: var(--primary-color);
    font-weight: 500;

    .icon {
      fill: currentcolor;
    }
  }
}

[data-theme='light'] {
  .navLink {
    color: var(--text-primary);

    &:hover {
      color: var(--primary-dark);
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin-top: auto;
}
