@import '@styles/variables';

.bar {
  display: flex;
  overflow-x: auto;
  gap: $spacing-2;
  padding: $spacing-1 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  position: relative;
}

.bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: rem(32px);
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgb(0 0 0 / 0%),
    var(--background-primary)
  );
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(12px);
}

.item img {
  width: rem(56px);
  height: rem(56px);
  border-radius: 50%;
  margin-bottom: $spacing-1;
}
