@import '@styles/variables';

.actions {
  display: flex;
  flex-direction: column;
  padding: $spacing-1 $spacing-2;
}

.buttons {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

.actions button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--text-primary);
  display: flex;
  align-items: center;
}

.actions button svg {
  width: rem(24px);
  height: rem(24px);
}

.liked {
  color: var(--color-error);
}

.likes {
  margin-top: $spacing-1;
  font-weight: 600;
}
